<div class="row">
  <div class="col-md-4">
    <ba-card cardTitle="Picture Uploader" baCardClass="with-scroll">
      <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
    </ba-card>
  </div>
  <div class="col-md-8">
    <ba-card cardTitle="Basic Example" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>
</div>